@import "../../node_modules/normalize.css/normalize.css";
@import "./vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');


a {
  text-decoration: none;
}


.header-nav {
  background-color: $primaryColor;
  height: 4rem;

  &__link {
    color: $primaryTextColor;
    font-size: 2rem;
    font-family: 'Comfortaa', cursive;
  }
}